{% extends 'mysite/base.html' %}

{% block content %}

	<div class="jumbotron">
		<h1 class="display 4" style="margin-bottom:10px;">{{ post_user.username }}'s Posts</h1>
			
				<div class="card-columns">
					
					{% for post in object_list %}
						
						<div class="card border-dark bg-light" style="width: 22rem;">
							<a href="{% url 'post_detail' pk=post.pk %}">
								<img src="{{ post.photo.url }}" class="card-img-top" alt="{{ post.title }}">
							</a>
							<div class="card-body">
								<a href="{% url 'for_user' username=post.user.username %}" class="card-link">{{ post.user.username }}</a>
								<h4 class="card-title" style="margin-bottom: -4px;">{{ post.title }}</h4>
								<p class="card-text">
									<small class="text-muted">{{ post.upload_date|date:"D M Y" }}</small>
								</p>
								<p class="card-text">
									<a class="btn btn-outline-dark btn-block btn-sm" href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
								</p>
							</div>
						</div>
					{% empty %}
						<h2>{{ post_user.username }} hasn't posted anything yet.</h2>	
					{% endfor %}
					
				</div>
			
		
	</div>

{% endblock %}